Source: syntalos
Section: science
Priority: optional
Maintainer: Matthias Klumpp <mak@debian.org>
Build-Depends: cmake,
               debhelper-compat (= 13),
               gettext,
               gobject-introspection,
               libaravis-dev,
               libavcodec-dev,
               libavformat-dev,
               libavutil-dev,
               libegl-dev,
               libeigen3-dev,
               libgirepository1.0-dev,
               libglib2.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libiceoryx-introspection-dev,
               libkf5archive-dev,
               libkf5texteditor-dev,
               libkf5windowsystem-dev,
               libopencv-dev,
               libpipewire-0.3-dev,
               libqt5opengl5-dev,
               libqt5serialport5-dev,
               libqt5svg5-dev,
               libqtermwidget5-1-dev,
               libminiscope-dev,
               libswscale-dev,
               libsystemd-dev,
               libudev-dev,
               libusb-1.0-0-dev,
               libtomlplusplus-dev,
               libv4l-dev,
               libxml2-dev,
               libxxhash-dev,
               libzip-dev,
               meson,
               ninja-build,
               ocl-icd-opencl-dev,
               pybind11-dev,
               python3-dev,
               python3-numpy,
               python3-pip,
               qtbase5-dev,
               qtmultimedia5-dev,
               systemd-dev,
               udev,
               uuid-dev,
               xvfb
Rules-Requires-Root: no
Standards-Version: 4.6.2

Package: syntalos
Architecture: any
Depends: breeze-icon-theme,
         gstreamer1.0-plugins-bad,
         libpam-systemd,
         rtkit,
         syntalos-hwsupport (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: pomidaq
Description: Synchronized DAQ from diverse sources and flexible experiment control
 Syntalos is a software for timestamp-synchronized parallel data acquisition
 from diverse data sources, such as cameras, microendoscopes,
 Intan electrophysiology amplifiers or Firmata-based serial interfaces.
 The software also allows closed-loop interventions via its built-in Python
 scripting support. It is specifically designed for use in (neuro)scientific
 in vivo behavior experiments.

Package: syntalos-hwsupport
Architecture: all
Depends: libpam-systemd,
         rtkit,
         ${misc:Depends}
Suggests: syntalos
Description: Syntalos DAQ -- Hardware support
 Syntalos is a software for timestamp-synchronized parallel data acquisition
 from diverse data sources, such as cameras, microendoscopes,
 Intan electrophysiology amplifiers or Firmata-based serial interfaces.
 The software also allows closed-loop interventions via its built-in Python
 scripting support. It is specifically designed for use in (neuro)scientific
 in vivo behavior experiments.
 .
 This package contains hardware support modules (such as udev rules) for
 hardware supported by Syntalos.
