Source: syntalos
Section: science
Priority: optional
Maintainer: Matthias Klumpp <mak@debian.org>
Build-Depends: debhelper-compat (= 13),
               meson
Standards-Version: 4.6.0

Package: syntalos
Architecture: any
Depends: breeze-icon-theme,
         gstreamer1.0-plugins-bad,
         libpam-systemd,
         rtkit,
         syntalos-hwsupport (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: pomidaq
Description: Synchronized DAQ from diverse sources and flexible experiment control
 Syntalos is a software for timestamp-synchronized parallel data acquisition
 from diverse data sources, such as cameras, microendoscopes,
 Intan electrophysiology amplifiers or Firmata-based serial interfaces.
 The software also allows closed-loop interventions via its built-in Python
 scripting support. It is specifically designed for use in (neuro)scientific
 in vivo behavior experiments.

Package: syntalos-hwsupport
Architecture: all
Depends: libpam-systemd,
         rtkit,
         ${misc:Depends}
Recommends: pomidaq
Description: Syntalos DAQ -- Hardware support
 Syntalos is a software for timestamp-synchronized parallel data acquisition
 from diverse data sources, such as cameras, microendoscopes,
 Intan electrophysiology amplifiers or Firmata-based serial interfaces.
 The software also allows closed-loop interventions via its built-in Python
 scripting support. It is specifically designed for use in (neuro)scientific
 in vivo behavior experiments.
 .
 This package contains hardware support modules (such as udev rules) for
 hardware supported by Syntalos.
