#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

SY_ENABLED_MODULES := camera-arv,camera-tis,miniscope,plot

ifneq (,$(filter $(DEB_HOST_ARCH), amd64))
    # We don't build Intan support on non-amd64, Intan does not support this officially
	SY_ENABLED_MODULES := $(SY_ENABLED_MODULES),intan-rhx
endif

# FIXME: Super dirty hack to get tiscamera to build - should be replaced
# by building a proper tiscam package eventually.
export PKG_CONFIG_PATH=$(CURDIR)/contrib/vendor/tiscam/i/lib/pkgconfig/
TCAM_DIR=$(CURDIR)/contrib/vendor/tiscam

SY_CONFIGURE_ARGS = \
    -Doptimize-modern-amd64=true \
    -Dmodules=$(SY_ENABLED_MODULES)

%:
	dh $@

override_dh_auto_configure:
	# FIXME: Ugly hack to avoid us shipping with the tiscamera packages in our PPA
	mkdir $(TCAM_DIR)/b
	cd $(TCAM_DIR)/b && cmake -GNinja \
		-DTCAM_BUILD_DOCUMENTATION=OFF \
		-DTCAM_BUILD_WITH_GUI=OFF \
		-DTCAM_DOWNLOAD_MESON=OFF \
		-DTCAM_INTERNAL_ARAVIS=OFF \
		-DTCAM_INSTALL_FORCE_PREFIX=ON \
		-DTCAM_BUILD_WITH_GUI=OFF \
		-DTCAM_BUILD_DOCUMENTATION=OFF \
		-DCMAKE_INSTALL_LIBDIR=lib \
		-DTCAM_PROPERTY_INSTALL_LIB=lib \
		-DTCAM_PROPERTY_INSTALL_PKGCONFIG=$(TCAM_DIR)/i/lib/pkgconfig \
		-DGOBJECT_INTROSPECTION_1.0_GIRDIR=$(TCAM_DIR)/i/share/gir-1.0/ \
		-DGOBJECT_INTROSPECTION_1.0_TYPELIBDIR=$(TCAM_DIR)/i/lib/girepository-1.0 \
		-DCMAKE_INSTALL_PREFIX=$(TCAM_DIR)/i \
		..
	cd $(TCAM_DIR)/b && ninja && ninja install

	cd $(CURDIR) && dh_auto_configure -- $(SY_CONFIGURE_ARGS)

override_dh_auto_test:
	:

override_dh_shlibdeps:
	dh_shlibdeps -Xmodules/camera-tis/camera-tis.so
