[submodule "contrib/vendor/imgui"]
	path = contrib/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "contrib/vendor/implot"]
	path = contrib/vendor/implot
	url = https://github.com/epezent/implot.git
