[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/liboni"]
	path = vendor/liboni
	url = https://github.com/open-ephys/liboni.git
[submodule "vendor/SpikeGLX-CPP-SDK"]
	path = vendor/SpikeGLX-CPP-SDK
	url = https://github.com/billkarsh/SpikeGLX-CPP-SDK.git
